/* App > view{
    docks:side=left/1;
} */

Screen {
    /* align: center middle; */
    layers: app sidebar modal;
}


Sidebar {
    width: 30;
    background: #b63a09;
    transition: offset 500ms in_out_cubic;
    layer: sidebar;
    offset-x: -100%;
}

Sidebar.-active {
    offset-x: 0%;
}

#sidebar {
    layer:sidebar;
    width: 30;
    height: 100%;
    background: #b63a09;
    transition: offset 500ms in_out_cubic;
    offset-x: -100%;
}

#sidebar.-active {
    offset-x: 0%;
}

#menu{
    width:100%;
    background: #00ff11;
    outline: round $accent;
    height: 3;
    content-align: center middle;
}